*{
    font-family: sans-serif;
}

body{
    background: rgb(225, 243, 193);
    background-repeat: repeat;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
   
}

nav{
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: auto;
}

nav ul{
    list-style: none;
    width: 100%;
    left: 50%;
    top: 50%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
    margin: 10px 20px;
    position: relative;
}

nav ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:before{
    position: absolute;
    content: "";
    width: 50px;
    height: 20px;
    border-top: 5px solid #e84393;
    border-left: 5px solid #e84393;
    left: 0;
    top: 0;
    transition: 0.5s;
    opacity: 0;
}

nav ul li a:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 20px;
    border-right: 5px solid #6c56e7;
    border-bottom: 5px solid #6c56e7;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
}

nav ul li a:hover{
    color: blueviolet;
}

nav ul li a:hover:before{
    left: -10px;
    top: -10px;
    opacity: 1;
}

nav ul li a:hover:after{
    right: -10px;
    bottom: -10px;
    opacity: 1;
}

nav ul li a:hover:not(.active) {
    color: magenta;
}
  
.active {
    background-image: -webkit-repeating-linear-gradient(rgb(230, 105, 230), cyan);
    padding: 8px;
}

.dropdown{
    position: relative;
    display: inline-block;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(225, 243, 193);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {color:-moz-linear-gradient(red,blue,purple)}

.dropdown:hover .dropdown-content {
  display: block;
}

.detail{
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1{
    color: #212121;
    margin-bottom: 20px;
    font-weight: bolder;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

span{
   color: magneta;
}

.logo{
    width: 140px;
    height: 100px;
}

.detail p{
    line-height: 22px;
    font-weight: bold;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}


.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40%;
}

.images:hover .sasuke{
    left: 45%;
}

.zoom-wrapper{
    height: 300px;
    overflow: hidden;
    border-radius: 14px;
}

.zoom-wrapper img {
    object-fit: cover;
    transition: transform 0.1s;
    height: 75%;
}

.zoom-wrapper:hover img {
    transform: scale(1.5);
}
